[2015-03-05 05:41] daniel-acuna opened #1 "Allow parsing strings"
Right now, the parse accepts a path or file-like. We should allow strings too.

[2015-03-05 06:14] titipata opened #2 "Add usage section on readme and example usage notebook"

[2015-03-05 06:17] #1 closed

[2015-03-05 22:01] titipata opened #3 "Affiliation contains number"
We select all string under affiliation where it comes with number. It should be a way to remove it from parser itself or we might use regular expression to remove it.

[2015-03-05 22:02] titipata opened #4 "Apply unidecode to the parsed string"

[2015-03-06 23:06] #3 closed

[2015-03-09 01:51] daniel-acuna commented on #4
What do you mean with this issue? The strings generated are already unicode. Please give more details :)

[2015-03-09 01:56] titipata commented on #4
Oh, some of them are not read properly like tilde over the character. I don't know whether we should apply unidecode to the string

[2015-03-09 02:18] daniel-acuna commented on #4
I think we should keep those strings. I might be a problem with the pubmed files rather than the parser. Using unidecode would make you lose some important characters - like ñ in Acuña ;)

Should close this issue then?

[2015-03-09 02:52] titipata commented on #4
Yeah totally agree, close the issue

[2015-03-09 02:52] #4 closed

[2015-03-09 20:25] #2 closed

[2015-03-10 01:32] daniel-acuna opened #5 "Add citation suggestion to README"
Some people might use this in publications, we should let them spread the credit :)

[2015-03-10 01:42] #5 closed

[2015-03-11 23:28] titipata opened #6 "`stringify_affiliation` function return excess whitespace"
According to function `stringify_affiliation`, we return `' '.join(filter(None, parts))`. So, it solve problem if we have multiple children node but for some case it returns excess space for example `University ,  Turku ,  Finland`. We should return more reliable string format.

[2015-03-12 15:14] daniel-acuna commented on #6
I think this only happens when we have punctuations. Maybe we can write a regular expression to make the replacement?

[2015-03-12 15:19] titipata commented on #6
Yeah, we can write regular expression to solve it. But I don't know whether regular expression will take much more time for whole parser or not. What do you think?

[2015-03-12 15:32] daniel-acuna commented on #6
Nah, I don't think it will add much. The parser is already pretty far - half a second on my computer. We could start from something like this http://stackoverflow.com/questions/8717190/eliminate-leading-trailing-spaces-around-punctuation-marks?

[2015-03-12 15:37] titipata commented on #6
Oh nice, I like it. It's not mandatory but should we add it?

[2015-03-12 15:53] daniel-acuna commented on #6
I think so

On Thu, Mar 12, 2015 at 10:37 AM Titipat Achakulvisut <
notifications@github.com> wrote:

[2015-03-16 03:49] titipata commented on #6
@daniel-acuna I tested our recent Pubmed Parser on several PubMed file. I think it's good so I will close the issue.

[2015-03-16 03:49] #6 closed

[2015-12-04 02:15] titipata opened #8 "Return a new format of authors and affiliation"
For `author_list`, it should be this following format instead, which I think it is easier to do post-process (i.e. linking author to affiliation).
[code]

For `affiliation_list `, it should be list instead of dictionary format. Then we can add more function to return link of both list.

[2015-12-04 04:07] #8 closed

[2016-01-08 21:43] titipata opened #9 "Parsing abstract section"
There can be one or more section in single abstract. For example, we can have `BACKGROUND`, `METHOD`, `RESULT` or just `Abstract` and `RESULT` in single abstract etc. We want to add some tagger when we parse these abstracts in case people want to analyze only few parts of abstract.

I'm still not sure which format should we return in this case.

[2016-01-08 22:09] titipata opened #10 "Move include path option to parse_pubmed_xml function directly"
Now `include_path=False` is in `parse_pubmed_xml_to_df `, not in `parse_pubmed_xml`. It would be nicer to move directly into `parse_pubmed_xml` for PySpark user to specify as a flag. We should change README specification also.

[2016-01-08 22:32] #10 closed

[2016-01-08 22:38] daniel-acuna commented on #9
Can you give me a PMID that has this problem? I would just capture the entire abstract into one text field.

[2016-01-08 22:43] titipata commented on #9
Here are few PMID that exist in Open Access subset: 18612225, 22992293, 22494660, 24884587, 20513246, 18612228, 24991066, 18350110, 18350111, 18350115, 22363803, 20635453, 22992294, 23068712, 18350125, 24641586, 24991070, 18350135, 18350136, 23505588

[2016-01-08 23:50] titipata commented on #9
Here is an example of XML from PMID22992293, see http://www.ncbi.nlm.nih.gov/pubmed/22992293. It would be nice if we can get text for each section with corresponding title. However, we want to remove xml tag inside the text e.g. `<sub>2</sub>`, `<italic>in vivo</italic>`

[code]

[2016-01-09 07:05] daniel-acuna commented on #9
thanks. I'll take a look

[2016-01-09 18:29] daniel-acuna commented on #9
Pubmed parser is returning all the text inside this kind of abstract, which
I think is correct. How do you want to format the title sections? If you
want to preserve sections, would that mean that you would be willing to
preserve it as an XML?

On Fri, Jan 8, 2016 at 5:50 PM Titipat Achakulvisut <
notifications@github.com> wrote:

[2016-01-09 18:32] titipata commented on #9
I would like to get more refine result from abstract section as an option like `{'abstract': '...', 'method': '...', ...}` (probably not in this format tho). It might be helpful for someone who want to grab only particular chunk of abstract.

[2016-05-18 19:54] titipata opened #11 "Create function to parse reference list"
I attach code to do that here but still haven't cleaned it up. @davidbrandfonbrener can you take a look?

[code]

[2016-05-18 19:58] titipata opened #12 "Create function to grab paragraph and reference within the paragraph"
We can loop through each `sec` and grab `title` for that section. Then in each section, we go through each paragraph can get all references id and full text.

[2016-05-19 00:20] titipata opened #13 "Create function to caption figure caption and image link"
We want to grab figure label, caption and `xlink:href` for that file so we can relate caption with images later.

[2016-05-31 07:51] titipata opened #14 "Merge web parser function to the repository"
Incorporate created functionality from https://github.com/titipata/pubmed_parser_web to this repository

[2016-06-06 19:17] titipata commented on #14
close by b58addffb954ff87367b15120ea34d550cc90ff2

[2016-06-06 19:17] #14 closed

[2016-06-06 19:18] titipata commented on #9
I will close this issue for now.

[2016-06-06 19:18] #9 closed

[2016-06-06 19:19] daniel-acuna commented on #13
Actually all this stuff would be amazing to have for several other projects. Not sure if the NLM format has this.

[2016-06-06 19:26] titipata commented on #12
Added. See in [`pm_parser.py`](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/pm_parser.py).

[2016-06-06 19:26] #12 closed

[2016-06-06 19:42] titipata commented on #13
I wrote `lxml` to extract captions long time ago but I couldn't find it.

[2016-06-06 21:16] #13 closed

[2016-06-06 21:16] daniel-acuna commented on #13
amazing

[2016-06-06 22:38] titipata opened #15 "Bug in parse reference function"
Right now, the function `parse_pubmed_references` return empty list of `name`.  This happens in example folder `mds526.nxml`.

[2016-06-06 23:09] titipata opened #16 "Parse citations from website"
here is an example link that we want to parse http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2631471/citedby/

[2016-06-07 17:00] #15 closed

[2016-06-07 19:39] #16 closed

[2016-06-09 16:59] daniel-acuna opened #17 "Processing deleted Medline "citations" in NLM XML records"
**How should we process the delete citations?**

Sometimes the update XML comes with "deleted" citations (like [this example](https://github.com/fnl/medic/blob/0426997b2783f8c03b95dc19999c5038102397e6/src/medic/test/medline.xml#L280-L283)), and it would be good to know which `PMID` were deleted.

For example, the stats for the update file `medline16n0906.xml` available [here ftp://ftp.nlm.nih.gov/

[2016-06-09 17:15] titipata commented on #17
Should we have an option in `parse_medline_xml ` if user want to remove it or not. I would say, set default as not removing delete citations. We might have to mention in documentation or function what is "Delete citations" means too.

[2016-06-09 17:53] daniel-acuna commented on #17
The delete citations may refer to records in other XML files. I would say, lets have an option, say `return_deleted` for `parse_medline_xml` that would return two results: the first is the usual list of dicts and the second is the list of PMID that are listed as delete in the XML. By default, lets make `return_deleted` as `False`

[2016-06-09 18:37] titipata commented on #17
@daniel-acuna Can you apply changes to the function?

[2016-06-09 18:37] daniel-acuna commented on #17
Of course!

[2016-06-09 18:41] titipata commented on #17
BTW, how about just adding one more field to output dictionary `delete: True` or `delete: False`. In that case, it will make output more consistent, in my opinion.

[2016-06-09 19:03] titipata opened #18 "Extract GrantID and related basic information"
- For Pubmed OA dataset, we want to extract information from acknowledgement section text
- For Medline dataset, it has `GrantID` section that we can write a parser to extract these number.

**note** that for now, I couldn't find example of xml file that has `Grant` or `GrantID` section. Feel free to let me know if anyone have example of xml file where we can parse `GrantID` section out

cc. @dani

[2016-06-09 19:11] titipata opened #19 "Parallelize MEDLINE parser"
I think we can speed up the parser a lot by parallelize this [L105](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/medline_parser.py#L105)

[2016-06-09 20:14] daniel-acuna commented on #17
I was just thinking about this and I think you are right. I'll add a field.

[2016-06-09 20:21] titipata commented on #19
I tried the following code,

[code]

However, I had error as follows.

[code]

Not quite sure how to solve this issue.

[2016-06-09 21:58] daniel-acuna commented on #19
Does it work on Python 2.7?

[2016-06-10 02:16] #17 closed

[2016-06-10 16:36] #18 closed

[2016-06-10 16:39] titipata opened #20 "Clean code and update function's comments"
Let's add comments to each function and clean the code overall.

[2016-06-11 17:12] titipata opened #22 "Remove extract space that appear when parsing abstract text"
In both Pubmed Open Access and MEDLINE open access, when we parse abstract text. It mostly includes blank space and new line `\n`. We can preprocess that later using `nltk` whitespace tokenizer. However, it would be nice to return string without extra-space right away.

[2016-06-14 01:49] titipata opened #23 "pretty print xml does not print out format xml"
In function `pretty_print_xml`, it does not print pretty output but just a long string.

[2016-07-08 00:35] titipata opened #24 "Output type in Pubmed OA is lxml.etree._ElementUnicodeResult"
@daniel-acuna catched this error when we run `output = pp.parse_pubmed_xml('data/1472-6831-8-11.nxml')` and then check an output type i.e. `list(map(type, out.values()))`

Output type is

[code]

We have to turn this type into proper string.

[2016-07-08 15:49] daniel-acuna commented on #24
I think it is now fixed

[2016-07-08 16:44] titipata commented on #24
Just to make sure, it is now fixed with the new commit right?

[2016-07-08 16:53] daniel-acuna commented on #24
Yes, spark process it correctly, everything was a string

[2016-07-08 17:15] titipata commented on #24
Nice! Close by 12c2962369fe03d56c399733226761a189c1aa3c and 5ab278acc845a8b68a2b418d80c60c4aea221348

[2016-07-08 17:15] #24 closed

[2016-08-01 21:21] daniel-acuna opened #25 "Return PMCID when parsing Medline XML files"
Some website require `PMCID` instead of `PMID`.

[2016-08-01 21:24] titipata commented on #25
Do you want it so that it returns `pmc` as a key in output dictionary from MEDLINE parser?

[2016-08-01 21:25] daniel-acuna commented on #25
exactly. I assume all of them have `pmc`, otherwise return null. Essentially, I want to use `pmc` to query the citations with `parse_citation_web`

[2016-08-01 21:40] titipata commented on #25
I updated in d5869234d31beb0bcfc, can you check if that what you want?

[2016-08-01 21:46] daniel-acuna commented on #25
it works!

[2016-08-01 21:48] #25 closed

[2016-08-01 21:51] titipata commented on #19
We discussed and agreed that we don't need to parallel parsing right now. I'll close the issue.

[2016-08-01 21:51] #19 closed

[2016-08-05 21:41] titipata commented on #23
I finally remove this function of printing xml. I'll close this issue.

[2016-08-05 21:41] #23 closed

[2016-09-20 01:11] titipata opened #28 "Pubmed OA parser gives some error when parsing `subject`"
here is one example that it gives error `Acta_Psychiatr_Scand/Acta_Psychiatr_Scand_2010_Feb_121(2)_152-156.nxml`. I'll update the issue soon.

[2016-09-20 05:13] titipata commented on #28
fixed by 21f3bae30e5b0f676d124e1759ba8761f4b7d456

[2016-09-20 05:13] #28 closed

[2016-09-21 00:26] titipata commented on #22
On this issue, we have to change `abstract = ' '.join(tree.xpath('//abstract//text()'))` to use `itertext` instead. Basically, we will can through these text and remove extra spaces in abstract.

[2016-09-23 20:38] titipata commented on #20
This issue is now too broad so I'll close it

[2016-09-23 20:38] #20 closed

[2016-09-23 20:38] titipata commented on #22
Solved by c68303f4fc2f58b13de40c387abb85d3d1a51f89

[2016-09-23 20:38] #22 closed

[2016-09-25 16:46] titipata opened #29 "Update script to download whole Pubmed OA and MEDLINE dataset"
Now the script [here](https://github.com/titipata/pubmed_parser/tree/master/scripts) only download subset of the data.

[2016-09-25 21:46] daniel-acuna commented on #29
How do you check whether you have downloaded something before?

[2016-09-26 01:14] titipata commented on #29
Yeah, I have the checking if folder exists in `update` function. However, now I save file in the name format like `medline_DD_MM_YY.parquet`. I would like to improve the workflow where it saves log file so we can track the file.

Also, now the download and process are in the same pipeline (after running the code, it will download and process at once). I would like the ability to call function sepa

[2016-09-27 05:55] TariqAHassan opened #31 "Unresolved references to 'join' in pubmed_oa_parser"
I believe (I could be wrong) there are three small mistakes on lines `192`, `246` and `312` of  `pubmed_oa_parser.py` in the `parse_references `, `parse_paragraph` and `parse_pubmed_caption` functions, respectively.

The code references a function `join`, but I have been unable to locate it. Perhaps this should be corrected to reference to the string method `join` (i.e., `" ".join()`) ?

[2016-09-27 05:58] titipata commented on #31
You are right @TariqAHassan! I had `join` function before but I removed it. Thanks for reporting. It's now fixed at 24d67610ae92419c3586e5a358e8559b662e02de

[2016-09-27 06:02] TariqAHassan commented on #31
Don't forget about line 246 :)

[2016-09-27 06:03] titipata commented on #31
I amended the commit  24d6761, thanks again :)

[2016-09-27 06:03] #31 closed

[2016-09-29 22:30] titipata opened #32 "Add function to parse table from Pubmed OA XML"
I wrote a script right here https://gist.github.com/titipata/3f896ab5017e95fbd8aeec25bc283b44. We can put as function `parse_pubmed_table`. Anyone want to help adding it to the library?

[2016-10-01 17:12] RengarAndKhz opened #33 "parse_pubmed_xml()"
`path_list = [folder for folder in fullpath if os.path.splitext(folder)[-1]  == ('.nxml' or '.xml')]`
Is this code correct? `('.nsml', '.xml')` can only return `.nxml`, so basically it can not get the `.nxml` from the path.
Do you mean `path_list = [folder for folder in fullpath if os.path.splitext(folder)[-1] in ('.nxml', '.xml')]`?

[2016-10-01 17:15] titipata commented on #33
Hi TWang! Thanks for spotting the bug. Yes, you're right. It has to be the
latter one. Would you like to submit PR or I can change it too.

Thanks again!

On Oct 1, 2016 12:12 PM, "TWang" <notifications@github.com> wrote:

[2016-10-01 17:34] RengarAndKhz commented on #33
NP, just change it. I am currently trying to use your project. If I can
find other bugs, I will tell you then:)

On Sat, Oct 1, 2016 at 1:15 PM, Titipat Achakulvisut <
notifications@github.com> wrote:

--
Tianyang Wang
Electrical & Computer Engineering
Worcester Polytechnic Institute

[2016-10-01 20:54] #33 closed

[2016-10-03 22:00] titipata opened #34 "Use urllib library instead of requests"
I think I'll use `urllib` instead of `requests` in order to reduce required packages.

[2016-10-03 23:59] titipata commented on #32
Close by 788e9b961ea4e6cc847f83a345906bc12ea04cab

[2016-10-03 23:59] #32 closed

[2016-10-04 00:00] titipata commented on #34
`requests` is quite good already for requesting url so I'll close this issue.

[2016-10-04 00:00] #34 closed

[2016-11-14 20:13] titipata opened #35 "Adding Web of Science (WoS) parser"
Web of Science data is probably valid to just few people since you need the license. However, there is example XML file avialable at https://github.com/yadudoc/wos_builder. Should we add function to parse WoS to Pubmed Parser?

[2016-11-18 19:18] titipata commented on #35
I implemented separate parser in [titipata/wos_parser](https://github.com/titipata/wos_parser) so I'll close this issue.

[2016-11-18 19:18] #35 closed

[2016-12-08 15:49] uludag opened #36 "paragraphs with no references not included by parse_pubmed_paragraph"
Lists returned by `parse_pubmed_paragraph` does not include paragraphs if they do not have any references. I think it would be useful if paragraphs with no references can also be returned.

[2016-12-08 16:38] titipata commented on #36
@uludag I think that sounds great. I'm on my trip right now and I can implement it soon. Do you want to help implementing this functionality?

[2016-12-08 17:25] uludag commented on #36
Commenting out the check `len(ref_ids) >= 1` before the append call looks safe and lets the function to return the paragraphs with no references. This was a change I made for my tests, however my work with using the library was brief and I have not had a broad understanding of **pubmed_parser**.

[2016-12-13 04:23] titipata commented on #36
@uludag, thanks! I'm working on it and will let you know when I change it directly on the repository.

[2016-12-29 16:27] titipata opened #37 "PMID to PMC API from Medline cannot convert all PMID"
The API [here](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/pubmed_web_parser.py#L114) cannot convert all PMID input. I was trying to parse citations from given set of PMIDs but it only returns subset of PMIDs that I provided. One possibility is to host pair of PMIDs/PMCs somewhere on the cloud and provide similar API or source file that user can use to convert PMID to PMC.

[2017-01-04 17:35] titipata commented on #37
I uploaded PMID-PMC pairs (size of 91 MB, not bad not bad) where we can download as follow:

[code]

So from here, we can modify `parse_citation_web` function to be as below.

[code]

[2017-01-14 03:16] titipata commented on #37
Also, we also want to add Copyright Notice for scraping function so that users don't scrape too much and get blocked https://www.ncbi.nlm.nih.gov/pmc/about/copyright/#copy-PMC

[2017-01-27 21:29] titipata commented on #36
I actually did change it but forgot to close the issue. I'll close the issue for now :)

[2017-01-27 21:29] #36 closed

[2017-01-28 19:46] titipata opened #38 "Parse more information from MEDLINE XML file"
These include the following:
- `MedlineTA`
- `NlmUniqueID`
- `ISSNLinking`
- `Country`

These data can be used as a linkage to Web of Science (WoS) dataset later on for people who own WoS dataset.

[2017-01-28 23:37] titipata commented on #38
close by 13058e2316c65c

[2017-01-28 23:37] #38 closed

[2017-02-28 16:55] chengkun-wu opened #39 "Problem with parsing MEDLINE baseline 2017 xml files"
Hi, I found the code works well with MEDLINE 2016 baseline. However, when I tried to apply it to the MEDLINE 2017 baseline, only PMIDs were parsed, other fields are blank. Anyone aware of that? Thanks!

Chengkun

[2017-02-28 17:14] titipata commented on #39
Oh, can you give an example or link to file in `ftp`? I can check that for you. Maybe they update new structure of the file and I wasn't aware of that.

[2017-03-01 02:39] chengkun-wu commented on #39
Example file: medline17n1024.xml

Example output:

[code]

[2017-03-01 03:05] titipata commented on #39
Ah I see, so these are papers that got updated so you might have two xmls for the same paper. Therefore, delete means that you should delete the record of the old paper because it got updated.

So basically when delete field is `True`, we’ll return all None: https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/medline_parser.py#L359-L379. So don’t worry about those PMIDs!

[2017-03-01 07:19] chengkun-wu commented on #39
Thanks for the hint!
Still a little bit confused, as if I tried with the true baseline file medline17n0116.xml.gz (I attached it in this reply),

`>>> import pubmed_parser as pp

it returns nothing.

I downloaded the file from ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/, is that the correct place? Or did I make some other mistakes?

Thanks again!

[medline17n0116.xml.gz](https://github.com/titipat

[2017-03-01 07:54] titipata commented on #39
@chengkun-wu that's weird, I did the same thing

[code]

and I got 30000 parsed articles from attached file (tested with Python 3.5, 3.6). Do you give the right path to `xml.gz` file?

[2017-03-01 08:58] chengkun-wu commented on #39
I'm using Python 2.7. Can you please test it as well? The weird thing is that it works well for the medline16 xml files.

[2017-03-01 09:18] chengkun-wu commented on #39
Hi @titipata , I downloaded the latest version of pubmed_parser, and now it works! Thanks for all the replies! BTW, is there any support for parsing the PMC Open-Acsess full-text xml??

[2017-03-01 17:06] titipata commented on #39
@chengkun-wu, that's great! Seems like you have old version that doesn't check the correct tree.

For PMC Open-Access, the `parse_pubmed_paragraph` is the closest one that we have. You can parse the paragraph and section from full-text of Pubmed OA using `parse_pubmed_paragraph(path, all_paragraph=True)`, this will give you structured format from XML file. Please feel free to open the issue of you

[2017-03-04 01:42] robear22890 opened #40 "Parsers cannot read the xml file."
Below I've copied my python instance.  I'm trying to parse medline data.  I've done this with your pubmed and medline parser on the listed machine as well as on a ubuntu server with the same error.  I've also generated a file using the R programming language.  If you are familiar with that, the package I used is called [easyPubMed](https://cran.r-project.org/web/packages/easyPubMed).  I used the b

[2017-03-06 03:45] titipata commented on #40
Hi @robear22890, thanks for the report and sorry for the late reply! So, I seems like the problem is from reading XML file (`etree.from_string(path)`). Pubmed parser uses [these snippet](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/utils.py#L9-L21) to read XML file. Can you check real quick if `lxml` works to read example file for you or the file that you have a problem with

[2017-03-08 03:24] daniel-acuna commented on #40
@robear22890 @titipata It seems that the problem is that it cannot find the file? As @titipata mentions, `pubmed_parser` tries to read the given string as if it were a file path and if that fails it tries to read it as a XML string. So it first fails to read the file, and then it tries to read it as an XML. Can you please check that the file exists at that location?

[2017-03-13 18:45] daniel-acuna commented on #40
I am closing this for now

[2017-03-13 18:45] #40 closed

[2017-03-20 17:11] schnobi1990 opened #41 "Problem during parsing medline17m1086 file"
Hey guys,
I'm getting the following error if I try to use your code.
Whats the problem?

Best regards
[code]

[2017-03-20 17:14] titipata commented on #41
Hello @schnobi1990, so in this case, you're trying to parse Pubmed OA XML right? Can you send me the file via email so I can take a look at what's going on in the parser?

[2017-03-20 17:16] schnobi1990 commented on #41
Sure, thank you! You'll find it attached.

On 20.03.2017 18:14, Titipat Achakulvisut wrote:

--
*Tobias Roß, M.Sc.
*
Computer Assisted Medical Interventions (E130)
Doktorand
Deutsches Krebsforschungszentrum
Stiftung des öffentlichen Rechts
Im Neuenheimer Feld 280
69120 Heidelberg
Tel:  +49 6221 42-3554
Fax: +49 6221 42-2345
t.ross@dkfz.de <mailto:f.schlien@dkfz.de>
www.dkfz.de <http://www.dkfz.de/

[2017-03-20 19:33] titipata commented on #41
Hi @schnobi1990, I didn't get the attachment on github email. Maybe you have to send it separately to my email.

[2017-03-25 03:15] titipata commented on #41
@schnobi1990, you actually have to use function called `parse_medline_xml` instead for parsing Medline XML. The snippet is as following.

[code]

Let me know if it works for you.

[2017-04-01 22:31] titipata opened #42 "Return table in format that can convert to multilayer dataframe"
We have a [function](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/pubmed_oa_parser.py#L343-Lundefined) to parse table from Pubmed OA subsets. However, right now, it returns only tables that have one layer (only list of values per one column).

However, tables from Pubmed OA could be multilayers which we currently discard those rows of column names. I would like to have funct

[2017-04-12 07:28] deakkon opened #43 ""can only parse strings" while reading PMC nxml"
For several PMC files I get an error while reading in the content. list below:

[code]

P.S.
Ill post the traceback when I run it again.

[2017-04-13 07:56] deakkon commented on #43
Traceback:

Error: it was not able to read a path, a file-like object, or a string as an XML
Traceback (most recent call last):
  File "solr_pipeline.py", line 253, in getArticle
    items = pp.parse_pubmed_xml(content)
  File "build/bdist.linux-x86_64/egg/pubmed_parser/pubmed_oa_parser.py", line 81, in parse_pubmed_xml
    tree = read_xml(path)
  File "build/bdist.linux-x86_64/egg/pubmed_parser/u

[2017-04-13 13:51] daniel-acuna commented on #43
Those look like Pubmed Open Access files, no? Can you try to parse a file with [`parse_pubmed_xml`](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/pubmed_oa_parser.py#L76) instead?

Thanks

[2017-04-13 13:54] daniel-acuna commented on #43
It seems that `read_xml` tries to read the path as a [file path first](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/utils.py#L14) and then [tries  it as a string](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/utils.py#L17). I am wondering why it failed to parse it as a path in the first place.

Do you have a code snippet reproducing the error?

[2017-04-13 14:39] deakkon commented on #43
Code snippet:

def getArticle(file):

    #print file
    _, extension = splitext(file)
    items=None

    try:
        if extension == '.gz':
            content=gzip.open(file)
            items = pp.parse_medline_xml(content)
        elif extension == '.nxml':
            content=open(file,'rb')
            items = pp.parse_pubmed_xml(content)
            if isinstance(items, dict):

[2017-04-13 15:21] daniel-acuna commented on #43
You have to pass the file path rather the a file pointer. So, call it as `pp.parse_pubmed_xml(file)`

[2017-04-13 16:31] deakkon commented on #43
As I recall initially I submitted the path to a file (depending on the source to one of the two functions) but there were issues with that. Thats why I implemented this solution which works(ed) for all PMC/PubMed files besides the ones mentioned above.

I can give it a try if you want just to rule that out (or confirm it).

[2017-04-13 21:01] titipata commented on #43
Thanks @deakkon and @daniel-acuna! Is this issue solved now?

@deakkon, can you make Pull-request on the more reliable `read_xml` function that you made or paste the code snippet here?

[2017-05-11 10:59] deakkon opened #44 "Error while reading Medline gz file from path"
[code]

[2017-05-12 23:02] titipata commented on #44
thanks @deakkon, I'll take a look at the particular file and fix it asap!

[2017-05-13 01:48] daniel-acuna commented on #44
@titipata Can `pubmed_parser` parse gzip files? I don't think so

[2017-05-30 12:15] deakkon opened #45 "AttributeError: 'NoneType' object has no attribute 'text' while using parse_xml_web"
[code]

[2017-05-31 00:06] titipata commented on #45
Thanks @deakkon! This is fixed via c0d7683a3bba5e788f0a6af02909bfa5cda9c64e.

[2017-05-31 00:06] #45 closed

[2017-06-15 05:23] rbf22 opened #46 "problem with parse paragraph function"
I tried to run the following test. Seems like it should have worked. Any suggestions welcome. Thanks!!

[code]

**Output**

[code]

[2017-06-15 09:01] titipata commented on #46
This XML comes with namespace. Basically, we have this following problem: https://stackoverflow.com/questions/13412496/python-elementtree-module-how-to-ignore-the-namespace-of-xml-files-to-locate-ma/33997423#33997423. I'm not sure if there is a way to ignore namespace easily or not. I'll try to solve it tomorrow. Please let me know if you know how to solve it!

[2017-06-15 14:04] rbf22 commented on #46
Hey,

Thanks. Do you know if this is a global change in the pmc format?

Sent from my iPhone

[2017-06-15 17:27] titipata commented on #46
That's the thing I have to check. It's possible that there will be chunks of PMC that have this problem. Please let me know if you see more PMC with this format. Meanwhile, if you find good way to parse XML with namespace, please let me know! I'll work on it too.

[2017-06-15 17:52] titipata commented on #46
@daniel-acuna, Do you have any suggestion on how to parse this kind of XML file?

[2017-06-15 19:57] titipata commented on #46
@rbf22, I issued question on Stack Overflow [here](https://stackoverflow.com/questions/44575868/parse-pubmed-xml-check-and-remove-namespace-with-lxml). I'll keep you up to date if this is resolved.

[2017-06-16 00:26] #46 closed

[2017-06-16 00:29] titipata commented on #46
@rbf22, I solved the issue in 23729b6. Please let me know if it works for you.

[2017-06-16 00:31] rbf22 commented on #46
Nasty hack. I am not very good at this here are your files back with some nasty hacks that seem to kinda work…

[2017-06-16 00:36] titipata commented on #46
@rbf22, so it works now? It's not too bad, just removing the namespace in DOM or tree that we parse.

[2017-06-16 01:03] rbf22 commented on #46
Sure. Seems to work. Thanks!

[2017-07-05 15:49] RudrakshTuwani opened #47 "Possible error while parsing structured abstracts."
Hi, first of all big thanks for this life-saver of a package.

I think there is some problem with parsing XML for structured abstracts. Consider the following example:

[code]

The parse returned by medline_parser is as follows:

[code]

As you can see, it completely misses a major portion of the text. I wonder if this is the case for all structured abstracts or only limited ones. As additional in

[2017-07-05 15:52] titipata commented on #47
Thanks for reporting @RudrakshTuwani! Is there anyway that you can upload XML somewhere so that I can try to fix the parser?

[2017-07-05 15:55] RudrakshTuwani commented on #47
See the updated description.

[2017-07-05 15:58] titipata commented on #47
That's perfect. I'll fix that by the weekend. Bug me if I forget tho!

[2017-07-05 16:00] RudrakshTuwani commented on #47
No problem, thanks a lot!

Do you think this is the case for all structured abstracts or it's specific to a few?

[2017-07-05 16:02] titipata commented on #47
There are a lot of abstract like this. I haven't calculated the exact number. I guess it should be roughly a million from full Medline dataset.

[2017-07-05 16:06] RudrakshTuwani commented on #47
Okay, thanks!

[2017-07-05 16:41] RudrakshTuwani commented on #47
I seem to have found the bug.
`    if article.find('Abstract/AbstractText') is not None:
        abstract = stringify_children(article.find('Abstract/AbstractText')).strip() or ''
    elif article.find('Abstract') is not None:
        abstract = stringify_children(article.find('Abstract')).strip() or ''
    else:
        abstract = ''`

So, if you use the elif argument first in the if-else tree, i

[2017-07-05 16:48] titipata commented on #47
Yes @RudrakshTuwani, you're right. I'm fixing that part now.

[2017-07-05 16:58] titipata commented on #47
I fix it in commit b59e150, let me know if it works for you!

[2017-07-05 17:10] RudrakshTuwani commented on #47
Yes, this seems to be working. Thanks a lot!

One suggestion for future uses, maybe we can add the corresponding field for the structured abstract in the beginning of the sentence. If you want, I can work on it and send a PR later.

[2017-07-05 17:13] titipata commented on #47
Haha, you read my mind! I did that add just push it, see commit 34dae585421cac84ad6f5d3b857ddfaedc406301

[2017-07-05 17:19] RudrakshTuwani commented on #47
Haha, yes this seems to be working perfectly! Thanks a lot, man!

[2017-07-05 17:57] titipata commented on #47
@RudrakshTuwani, sorry, I still see the problem in my parser at`ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/medline17n0843.xml.gz`. I'll fix it and close the issue soon.

[2017-07-05 18:01] RudrakshTuwani commented on #47
Oh, can you send me the PMID? I'll have a look as well.

Also, I think you did a typo in check for 'UNASSIGNED'. It should be 'not in' or != instead of 'is not'.

[2017-07-05 18:04] titipata commented on #47
This is `26368793`, so now I parsed at got multiple `METHODS` section as

[code]

It should be a better way to concatenate all the same section in one long string.

[2017-07-05 18:08] titipata commented on #47
We are actually doing it correctly, you can see at: https://www.ncbi.nlm.nih.gov/pubmed/?term=26368793. However, I chose to get `abstract.attrib.get('NlmCategory', '')` instead of says `Label="BACKGROUND"`. Still thinking what is the best way to do that. `Label` will be good for someone who wants to display the abstract. However, `NlmCategory` is also good if you want to make each sections consist

[2017-07-05 18:09] RudrakshTuwani commented on #47
So, instead of using NLM category, we can maybe simply use the LABEL?

Or something like, NLM category - LABEL:

[2017-07-05 18:12] RudrakshTuwani commented on #47
Yes, there's a dilemma here. Maybe we should simply use `Label` because` that's the way it's displayed on the website as well?

Or do something like `NLMCategory - Label:` and use regex to reduce it to just one in case of repetitions like `OBJECTIVE - OBJECTIVE:`

What do you think?

[2017-07-05 18:18] RudrakshTuwani commented on #47
Ah, I just noticed your check for 'UNASSIGNED'. For some r

[2017-07-05 18:51] titipata commented on #47
So I fixed it in f3fe97f as

[code]

If you set `nlm_category=True`, it will give result using NLM category instead.

[2017-07-05 18:58] RudrakshTuwani commented on #47
Okay, I fixed it in a slightly different way. The output I get is the following:

`OBJECTIVE: Unusual presentation of unknown etiology, Rare disease, Mistake in diagnosis. BACKGROUND: Müllerian anomalies encompass a wide variety of malformations in the female genital tract, usually associated with renal and anorectal malformations. Of these anomalies, approximately 11% are uterus didelphys, which

[2017-07-05 19:01] titipata commented on #47
Definitely, we can close it for now. I'll discuss with @daniel-acuna a bit more about this issue. Let me know there is any use cases that you want output to be in particular format. Thanks again for the issue tho!

[2017-07-05 19:04] RudrakshTuwani commented on #47
The check for UNASSIGNED is still failing. Replacing 'is not' by != fixes it. Also, we want to remove the content under UNASSIGNED section right? In which case, we may want to put `abstract_list.append(stringify_children(abstract).strip())` inside the if condition.

No problem! Thanks for being so prompt on this. Let me know if I can contribute in any other way.

[2017-07-05 19:11] titipata commented on #47
I think putting `abstract_list.append(stringify_children(abstract).strip())` outside is correct cause we always add text into the list. However, if section is `UNASSIGNED`, I just skip it :)

[2017-07-05 19:14] RudrakshTuwani commented on #47
Okay, that works too :)

[2017-07-05 21:13] #47 closed

[2017-07-18 13:07] uludag opened #48 "python-2.7 import error: No module named 'request'"
In my environment python-2.7 is not able to find the module _urllib.request_ required by _pubmed_web_parser.py_.

If I replace the _urllib_ import statement as suggested in [this discussion](https://stackoverflow.com/questions/31601238/python-2-7-10-error-from-urllib-request-import-urlopen-no-module-named-request) then python2 is able to find the _request_ module:

[code]
_urlopen_ is used by the

[2017-07-18 17:48] #48 closed

[2017-07-18 17:50] titipata commented on #48
Thanks so much for the issue @uludag! I fixed it already. Let me know if you see others issue. I mostly develop in Python 3 these days and might overlook few issues with Python 2.

[2017-07-19 17:14] rajasankar opened #49 ""cannot use absolute path on element" when passing xml as string instead of fileobject"
Getting

[code]

Fixed when replacing all xpaths starting with `//` into `.//`

[code]

[2017-07-20 04:25] daniel-acuna commented on #49
Thanks. Can you give an example of a file that produces this error?

[2017-07-24 22:29] pseudomonas opened #50 "feature request: MeSH IDs"
It'd be useful to be able to get MeSH IDs as well as heading names. I've used the following quick-and-dirty change to `medline_parser.py` but there's probably a more elegant way.

`mesh_terms_list = [m.find('DescriptorName').attrib.get('UI','') + ":" + m.find('DescriptorName').text for m in mesh.getchildren()]`

[2017-07-24 23:32] titipata commented on #50
That's a great idea! Would you like to do pull-request or should I add it later this week?

[2017-07-24 23:38] pseudomonas commented on #50
I'll leave it to you; my fix is not backwards-compatible if that matters to
you...

On 25 July 2017 at 00:32, Titipat Achakulvisut <notifications@github.com>
wrote:

[2017-07-24 23:40] titipata commented on #50
Definitely, I'll notify you when it's done :)

[2017-07-27 05:48] #49 closed

[2017-07-31 12:09] deakkon opened #51 "Abstract partically extracted"
For a (small?) subset of documents, only part of the abstract is extracted (e.g. PMID 24653627, 23357879, 27983391, 26762307, 28005260, 22351618, 23456555,18006916,25371446)

[2017-07-31 12:12] titipata commented on #51
Hi Jurica,

Can you point location to the Medline ftp file? I can load and check from there.

Thanks for reporting :)

[2017-08-01 12:25] deakkon commented on #51
Here you go:

['22351618'] /home/docClass/files/pubmed/medline17n1089.xml.gz
['24653627'] /home/docClass/files/pubmed/medline17n0789.xml.gz
['28005260'] /home/docClass/files/pubmed/medline17n1135.xml.gz
['26762307'] /home/docClass/files/pubmed/medline17n0855.xml.gz
['28005260'] /home/docClass/files/pubmed/medline17n0926.xml.gz
['22351618'] /home/docClass/files/pubmed/medline17n0718.xml.gz
['267623

[2017-08-21 21:12] titipata commented on #51
@deakkon, can you give the link from `ftp` site to these files. I didn't see it from here: `ftp://ftp.nlm.nih.gov/nlmdata/.medleasebaseline/gz/`. Basically, I cannot get files from the list that you gave me.

Thanks!

[2017-10-20 14:15] deakkon commented on #51
Hi,

sorry, I completly forgot to answer... :/

I get my files from

ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/ and ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/

You can find the referenced gz files there. values in between [ ] are PMIDs for which an error has been reported.

Also, for several PMC documents, I get an _TypeError: sequence item 0: expected string, NoneType found; e.g.

In [315]:

[2017-10-23 18:20] titipata commented on #51
@deakkon, no problem at all. Thanks for updating the location. I'll check it out asap and return back to you.

[2017-10-23 18:21] titipata commented on #50
@pseudomonas, this is actually done. I forgot to close the issue :)

[2017-10-23 18:21] #50 closed

[2017-10-24 07:39] deakkon commented on #51
Additionally, a full list of PMC files which I got _Error: it was not able to read a path, a file-like object, or a string as an XML_

/home/docClass/files/pmc/PMC2480501.nxml
/home/docClass/files/pmc/PMC4569614.nxml
/home/docClass/files/pmc/PMC5362956.nxml
/home/docClass/files/pmc/PMC4569628.nxml
/home/docClass/files/pmc/PMC4162892.nxml
/home/docClass/files/pmc/PMC2480500.nxml
/home/docClass/file

[2018-02-23 13:02] deakkon opened #53 "ImportError: libicui18n.so.56: cannot open shared object file: No such file or directory"
Started hapenning a few days ago. Tried reinstalling a few libs, but to no avail. Do you have a suggestion?

Traceback (most recent call last):
  File "main.py", line 11, in <module>
    from util import *
  File "/home/sevajuri/projects/zsl/util.py", line 8, in <module>
    import pubmed_parser as pp
  File "/home/sevajuri/anaconda2/envs/tf/lib/python2.7/site-packages/pubmed_parser/__init__.py",

[2018-02-26 03:16] bluenex commented on #53
Refer to [this issue from another project](https://github.com/poldracklab/mriqc/issues/371), the problem seems to be because conda environment. Could you try this `conda install icu=56.1` and see if it fixes?

[2018-02-28 13:48] deakkon opened #55 "XMLSyntaxError"
In [41]: pp.parse_medline_xml('/home/docClass/files/pubmed/pubmed18n1040.xml.gz')
Error: it was not able to read a path, a file-like object, or a string as an XML
  File "<string>", line 1
XMLSyntaxError: Start tag expected, '<' not found, line 1, column 1

Source: ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/pubmed18n1040.xml.gz

[2018-02-28 13:56] daniel-acuna commented on #55
I don't think `parse_medline_xml` parses `.gz` files. You need to uncompress it first.

[2018-02-28 13:56] #55 closed

[2018-02-28 14:01] deakkon commented on #55
Hi,

are you sure?
E.g.  pp.parse_medline_xml('pubmed18n0364.xml.gz') (source ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/pubmed18n0364.xml.gz)

gives back a list of dicts.

[2018-02-28 14:06] daniel-acuna commented on #55
Can you try uncompress it first? The file works for me

[2018-02-28 15:08] deakkon commented on #55
Sorry, my mistake! The issues was that the file was not properly downloaded (Im performing a batch download and no error was printed out).

Redownloaded it manually and it works directly from the path (skipping uncompressing).

Best,
J.

[2018-03-28 00:16] nick-hahner commented on #37
What about ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/oa_file_list.csv ?

[2018-03-28 00:39] titipata commented on #37
@nick-hahner, nice! It contains ~ 1.8M rows of PMID/ PMC pairs of Open Access Subset. I'm still thinking about how to update the list regularly by not hurting the repository. I mean, I could upload PMC-PMID pairs from MEDLINE somewhere as I mentioned. Do you have any preference or suggestions on how to make it available on the repository?

[2018-03-28 01:40] nick-hahner commented on #37
Actually this file is probably better with 4,892,265 rows:
`ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/PMC-ids.csv.gz`

First `rsync` or `wget -c -N ...` the file to some directory like ~/.pp_data
Then you can use an sqlite3 db

[code]

[code]

How's that sound?

[2018-03-28 02:44] chengkun-wu commented on #37
@nick-hahner Yes! I used the ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/PMC-ids.csv.gz file for my local conversion.

[2018-03-31 11:03] digitalstem commented on #48
import urllib.request, json
ImportError: No module named request

i m getting the following error plz.. help

[2018-05-03 09:42] marescpla commented on #53
I just started anaconda and opened a new enviroment, and I can't use spyder because I get the error:

Traceback (most recent call last):
File "/home/aeroarms/anaconda3/envs/PN/bin/spyder", line 11, in
sys.exit(main())
File "/home/aeroarms/anaconda3/envs/PN/lib/python2.7/site-packages/spyder/app/start.py", line 159, in main
from spyder.app import mainwindow
File "/home/aeroarms/anaconda3/envs/PN/li

[2018-05-21 23:21] titipata opened #56 "Fix online parser to parse given PMID"
There are some error related when parsing some PMID including [PMID29323847](https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=xml&id=29323847) (book)

[2018-05-29 06:17] baijuct commented on #48
You cannot have request in Python 2, you need to have Python 3 or above.

[2018-08-27 20:05] MatthewDeitz opened #58 "Pubdate not returning correct year"
There is a problem with some of the pubdate fields in the output. It is not pulling the correct year and instead is splitting the text based off of " " and grabbing the first chunk of text. Because of this you end up with results for pubdate like ["Summer","Winter"]. Some example pmid's this happens for is [28599031,28599032,28599033, etc]. Could you please update to match on some form of regular

[2018-08-27 20:09] titipata commented on #58
Hello @MatthewDeitz, is there any way that you can share the following PMIDs with me? And yes, I can update using regular expression instead of splitting on the whitespace. Alternatively, if you already fixed the parser, feel free to send the pull request.

[2018-08-27 20:32] titipata commented on #58
@MatthewDeitz, I updated the parse at de61d61. Let me know if this solves the issue.

[2018-09-08 05:34] kaustubhn commented on #58
Hi @titipata I am parsing pubmed files from this location, ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline/ I have extracted the xml files to a folder and using the pp.parse_medline_xml() with year_info_only=False but I am only getting year and month the parser is not parsing the day even when the day is mentioned in the xml file.

Can you please tell if this is the correct behaviour? If not can you pl

[2018-09-09 18:34] titipata commented on #58
Hi @kaustubhn, thanks so much! So I should parse the date if available and return it. The function to do that is at https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/medline_parser.py#L241-L242. Feel free to fix it and make the PR!

[2018-10-26 05:54] soupstandstop opened #59 "Parse Pubmed OA Paragraph"
Hi,
Why did I enter: `pp.parse_pubmed_paragraph('data/6605965a.nxml', all_paragraph=False)`
the return is empty list?

[2018-10-26 05:55] soupstandstop commented on #59
I supposed that it will return the section text of this PMC?

[2018-10-26 19:34] titipata commented on #59
@soupstandstop, in the particular file, there is no text content in the given PMC. You can check the file inside `data` folder.

[2018-10-27 08:48] soupstandstop commented on #59
Yes, but in the case of the file that there have text in PMC, I still have the empty list.

[2018-10-27 08:52] soupstandstop commented on #59
ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/oa_package/00/00/
The nxml file in PMC5640403.tar.gz
You can check there this file, the return is still empty?

[2018-11-02 05:02] soupstandstop commented on #59
I make the Pull request, if have any problem please tell me, thanks!

[2018-11-06 00:02] MananVyas24 commented on #59
Observed the same behavior for all NXML (even from the data samples) for the function pp.parse_pubmed_paragraph. Debugging, as we speak, to know why this is happening and will keep you updated.

[2018-11-06 00:11] titipata commented on #59
Thanks so much @MananVyas24. Let me know if you figure out where the error comes from. I do not have much time to debug but will check out the PR as soon as possible!

[2019-04-05 02:22] huminpurin opened #64 "medline xml equivalent for "parse_pubmed_references"?"
I get `"AttributeError: 'NoneType' object has no attribute 'find'"` for using `parse_pubmed_references` on xml files of MEDLINE/PubMed Data (https://www.nlm.nih.gov/databases/download/pubmed_medline.html)

`parse_medline_xml` can parse xmls but not getting refference. I checked the xml files and im sure the reference data is in there. Is there any way to get something like "parse_medline_reference

[2019-04-05 02:29] titipata commented on #64
Hi @huminpurin, can you point to tue sample of XML file that you're obtaining from? I will have more time next week to fix the library.

[2019-04-05 05:44] huminpurin commented on #64
I got the file from the official database of national library of medicine: ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/

[2019-04-08 15:33] titipata commented on #64
@huminpurin, I see now. So, we currently do not have the implementation for parsing MEDLINE references yet. I am checking out now if I can get the references from MEDLINE. However, implementing such function (`parse_medline_xml`) would be great to have for the library!

[2019-04-08 16:12] titipata commented on #64
@huminpurin, I actually do not see the reference data from MEDLINE dataset. If you can point to the specific file name that has references data for me, I can try to implement it for you.

[2019-04-09 01:17] huminpurin commented on #64
@titipata It would be great if you could implement (parse_medline_xml) function, afterall all files on nlm database are medline xml.
To answer your question, there is a tag as `<ReferenceList>` in the xml files which lists the reference list of a paper. Heres some example codes from the actual file:
`      <ReferenceList>
        <Reference>
          <Citation>Proc Natl Acad Sci U S A. 2012 Apr 1

[2019-04-09 20:02] titipata commented on #64
@huminpurin, ah nice, thanks a lot! I did not notice it exists before. It seems like the reference are not available for all of the XML. However, I will take a look and update with you soon.

[2019-04-10 00:14] huminpurin commented on #64
@titipata Oh I see where the problem is. No all the files contain reference list in following database
[ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/](url)
Only some of the files contain reference list. I just checked the last one `pubmed19n1117.xml.gz` . Maybe the old data don't have reference list.

[2019-06-22 05:47] fayyasfayz opened #65 "pip3 install wget"
pip3 install wget Every time i run this command....it shows "command not found".....plz help to fix this error.

[2019-06-23 07:11] bluenex commented on #65
Which step are you doing? Why do you need to install `wget` via `pip`?

From the error, it indicates that you don't have `pip3` installed properly. Which Python version do you use? Please try running these commands and send us the output so that we have more information.

[code]

[code]

[2019-06-30 09:47] musiccccc opened #66 "XMLSyntaxError"
Hi, I came across an issue when using pubmed_parser:
Error: it was not able to read a path, a file-like object, or a string as an XML
......
lxml.etree.XMLSyntaxError: Start tag expected, '<' not found, line 1, column 1

Here is my code:
import pubmed_parser as pp
dir_ann=pp.parse_pubmed_xml("path/to/pubmed_test.xml")

And here is head of XML:
[pubmed_test.txt](https://github.com/titipata/pubmed_p

[2019-06-30 10:27] #66 closed

[2019-10-29 15:07] sakrifor opened #68 "Parsing DOI Medline XML"
DOI is not always under ELocationID in MEDLINE XML files. In some cases it is in ArticleIdList like the following:
[code]
Along the DOI field other ids may also exist such as pubmed & pmc. The example above is from [pubmed19n0001.xml](ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline).

I may be able to PR a fix by the end of the week which will first check for ELocationID and then for ArticleIdList if t

[2019-10-29 15:32] titipata commented on #68
Thanks @sakrifor, yes, that would be great if you can make the PR! Otherwise, I can check it by next week.

[2019-10-30 09:04] sakrifor commented on #68
I stumbled upon an issue while trying to fix this. It seems that the [DTD](https://www.nlm.nih.gov/databases/dtd/index.html) has changed the previous years and the **MedlineCitationSet** entity is not used anymore. It has been changed to **PubmedArticleSet -> PubmedArticle**. So, it needs to change from the start of the tree parsing in *parse_medline_xml()* method and then check all the other info

[2019-11-04 21:42] titipata commented on #68
Ah, thanks @sakrifor. Thank you so much for the information. I got a DTD. I'll take a look and fix it by this week!

[2019-11-04 23:17] titipata commented on #68
@sakrifor I couldn't find the following format of `DOI` from `pubmed19n0001.xml`. Can you somehow give some sample index of where in the file or which PMID from `pubmed19n0001.xml` that you cannot retrieve `DOI`?

[2019-11-05 15:58] sakrifor commented on #68
@titipata By searching for ```ArticleId IdType="doi"``` in the ```pubmed19n0001.xml``` I find 1747 instances. The first occurrence is on line 34765 and the PMID for that article is 225 (Title: [Adverse effects of anti-epileptic drugs]. ) and the second occurrence is on line 35053 with the PMID 227 (Title: Human and monkey prolactin and growth hormone: separation of polymorphic forms by isoelectric

[2019-11-05 17:39] titipata commented on #68
@sakrifor thanks a ton! I made a PR in #69. Can you try out the branch if it works for most of the Medline XML files?

[2019-11-05 17:53] titipata commented on #65
Hi @fayyasfayz, I will close this issue. Let me know if you can resolve the problem you have.

[2019-11-05 17:53] #65 closed

[2019-11-05 18:40] titipata commented on #64
Fixed in #69.

[2019-11-05 18:43] #68 closed

[2019-11-05 21:15] #64 closed

[2019-11-06 08:42] sakrifor commented on #68
@titipata Yes, it seems to parse all the available DOIs now. Thank you very much! Tested in several XMLs.

[2019-11-06 17:01] JanisSharma commented on #48
To install requests module on Debian/Ubuntu for Python2:

$ sudo apt-get install python-requests

And for Python3 the command is:

$ sudo apt-get install python3-requests

Full Source At [Here](https://icetutor.com/question/importerror-no-module-named-requests/)

[2019-11-06 17:24] #58 closed

[2019-11-06 17:27] titipata commented on #44
Parsing Medline gz file should be done using `parse_medline_xml` instead. I'll close this issue for now.

[2019-11-06 17:27] #44 closed

[2019-11-06 17:29] titipata commented on #29
This should be done in Wiki page on the repository.

[2019-11-06 17:29] #29 closed

[2019-11-06 17:30] #41 closed

[2019-11-06 17:31] #39 closed

[2019-11-06 17:34] #43 closed

[2019-11-06 17:34] #51 closed

[2019-11-06 17:35] titipata commented on #51
Just close this issue due to inactivity. If there is the problem coming up, please do re-open the issue.

[2019-11-06 17:56] titipata commented on #53
I will close this issue due to inactivity. It's also not relevance directly to the repository.

[2019-11-06 17:56] #53 closed

[2019-12-13 16:17] titipata opened #72 "Add community guideline"
Adding community guideline to the repository: how to contribute and report issues

[2019-12-13 16:46] #72 closed

[2020-01-07 12:26] pidugusundeep opened #74 "Question about downloading PubMed OA figures"
After running the Parse PubMed OA images and captions, I would like to understand where I can get the actual figure to download with the `fig_id` or `graphic_ref` attached in the nxml document.

[2020-01-15 20:16] titipata commented on #74
@pidugusundeep I tag @daniel-acuna here. Do you know where can we download the dataset?

[2020-01-15 20:16] daniel-acuna commented on #74
Search Pubmed Open Access FTP

[2020-01-16 08:23] pidugusundeep commented on #74
I was able to download the entire 'txt', but I need to get the source images for all of them, Please provide me with the sample. @daniel-acuna

[2020-01-20 10:59] tleonardi opened #75 "SyntaxWarning raised during import"
Importing pubmed_parser in python3 raises the following warnings:
[code]
This is due to a [documented](https://docs.python.org/3.8/whatsnew/3.8.html) change in Python3.8.
[code]

[2020-01-20 11:03] tleonardi opened #76 "Missing dependencies"
`six` and `numpy` are imported by `utils.py` and `medline_parser.py` respectively, but are not listed in `setup.py`

[2020-01-20 11:29] tleonardi opened #77 "JOSS paper text"
Hi,
I've noticed that citation of `mesbah2018smartpub` is not rendered properly in the compiled [PDF](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf).

I've also made some syntax and style changes, feel free to merge to reject them (950eed22c449d7384b231150a0bffccaf33c8436).

[2020-01-20 11:38] tleonardi opened #79 "Contributing guidelines are missing"
Hi,
JOSS requires the repository to have clear Community guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support.
As a starting point you could use this CC0 template [here](https://gist.github.com/peterdesmet/e90a1b0dc17af6c12daf6e8b2f044e7c)

[2020-01-20 17:02] titipata commented on #79
@tleonardi Thank you so much. I will update the contribution guideline accordingly. Hopefully, this will be done by mid of this week. I will tag you once it's done.

[2020-01-20 17:08] titipata commented on #76
Close this issue according to #78.

[2020-01-20 17:08] #76 closed

[2020-01-20 17:15] titipata commented on #75
@tleonardi, ah, thanks for the catch! I will check through the repository to see if there are more errors similar to this issue before closing it.

[2020-01-20 22:26] titipata commented on #77
@tleonardi I've made the changes in [`paper.md`](https://github.com/titipata/pubmed_parser/blob/master/paper/paper.md) accordingly in 901791d3f78a78edd1af1d04244810d6495c16a8 and f88d422818caf2f7dd94b0ac7c9eb9bfcbdcd699. Now, the citation should be rendered correctly [here](http://res.cloudinary.com/hju22ue2k/image/upload/v1579558758/zyykxe1gbioadtmnmodk.pdf). I was missing one citation in the bib

[2020-01-20 22:51] titipata commented on #79
@tleonardi We now add Contributing Guidelines [here](https://github.com/titipata/pubmed_parser/blob/master/CONTRIBUTING.md). We also link it on the `README.md`.

Let me know if we need more documentation improvement. Thanks again for your suggestions.

[2020-01-21 03:23] daniel-acuna commented on #74
For example, if ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/oa_package/00/00/PMC3363814.tar.gz is uncompressed, you will find the figures associated with the paper. All the paths are available in here ftp://ftp.ncbi.nlm.nih.gov/pub/pmc/oa_file_list.csv

[2020-01-21 03:27] titipata commented on #74
Nice, thank you so much Daniel. I'll put the documentation in the repo before closing this issue.

[2020-01-21 17:49] titipata commented on #74
I put instruction on how to download figures [here](https://github.com/titipata/pubmed_parser/wiki/Download-PubMed-OA-figures). For someone who see this issue, see more details on [Wiki page](https://github.com/titipata/pubmed_parser/wiki).

[2020-01-21 17:49] #74 closed

[2020-01-21 18:11] titipata commented on #59
@soupstandstop I checked and b2ccfe7 and a769744 fix this issue. Let me know if you have any problem parsing the paragraph text using a recent version of `pubmed_parser`.

[2020-01-21 18:11] #59 closed

[2020-01-21 18:37] titipata opened #80 "Create test function for Pubmed Parser"
Create a test function for Pubmed Parser and maybe integrate it with some integration such as CircleCI or TravisCI. This should test that Pubmed Parser can parse some of the examples we have correctly.

[2020-01-21 21:54] titipata commented on #80
@daniel-acuna, I attempted to make a test file and TravisCI integration at 177869c. It still fails but I will try to fix the issue soon.

[2020-01-22 00:03] titipata commented on #80
We should have a primitive version of test after commit 43d324b

[2020-01-22 03:52] titipata commented on #80
I will close this issue since it's almost complete after e40f8c0cad66c3944534e027486a585772835f8d.

[2020-01-22 03:52] #80 closed

[2020-01-27 09:45] tleonardi commented on #79
Great, I'll check it off on JOSS!

[2020-01-27 09:45] #79 closed

[2020-01-27 09:46] tleonardi commented on #77
Perfect!

[2020-01-27 09:46] #77 closed

[2020-01-27 10:35] tleonardi opened #82 "Missing details in API docs"
Hi,
I've noticed some functions miss the sphinx documentation:
parse_pubmed_paragraph(): the parameter all_paragraph is not documented
table_to_df(): parameters and return value not documented
parse_pubmed_web_tree(): parameters and return value not documented
extract_citations():  parameters and return value not documented
extract_pmc():  parameters and return value not documented

[2020-02-01 01:13] titipata commented on #56
Seems like it works fine now:

[code]

[2020-02-01 01:14] #56 closed

[2020-02-01 01:15] titipata commented on #75
I checked this issue and it seems like this should be all fixed after #78. I will close this issue for now. Thanks @tleonardi for the contribution!

[2020-02-01 01:15] #75 closed

[2020-02-01 01:19] titipata commented on #82
I've fixed this issue in 7d4ae40. I will further update the documentation and point to this issue later on!

[2020-02-01 01:19] #82 closed

[2020-04-21 08:10] thomascpan opened #87 "parse_pubmed_xml does not return "subjects""
**Describe the bug**
Parse PubMed OA XML information appears to have a bug with the "subjects" attribute.

**To Reproduce**
[code]
Will always be empty.
https://github.com/titipata/pubmed_parser/blob/1376aa651f05662742e7e225c831c6ffda0dc91b/pubmed_parser/pubmed_oa_parser.py#L148
I believe the following change will fix the issue.
[code]

**Expected behavior**
Should return subjects.

[2020-04-21 08:53] #87 closed

[2020-07-13 11:23] alonasorochynska opened #91 "ModuleNotFoundError: No module named 'pubmed_parser'"
I am trying to use your parser but there are some problems. My OS is Windows 10 and I did next steps:

First I try installation from the repo:
[code]
which yields `(Successfully installed).`

Then I try pip:
[code]
which yields `(Requirement already satisfied)`

Then I am running
[code]
which yields:
[code]
pip install pubmed_parser
[code]
ERROR: Could not find a version that satisfies the require

[2020-07-14 11:04] alonasorochynska commented on #91
Today I have installed everything to the Linux OS and no more problems with pubmed_parser. But I am running the test pytest --cov=pubmed_parser tests/ --verbose and now the respond is: Couldn't parse file pubmed_oa_parser.py. There is a function in this file that doesn't work. Function is list_xml_parser.py(path dir). I am giving the path to the xml file that I want to parse and the output is empt

[2020-10-22 19:18] sublimotion opened #95 "Error using parse_pubmed_xml"
It looks like the pubmed parser doesn't support the pubmed baseline files?

I get the error below. It also doesn't look like the test file is using a similar file format.

pubmed_dict = pp.parse_pubmed_xml('./data/pubmed20n1015.xml') # dictionary output

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call

[2020-10-29 11:13] GanjinZero commented on #95
Same issue here.

[2020-11-10 05:37] mnis commented on #95
I think the format of XML files is changed since the time these scripts were written. The XML structure and the attributes in the current PubMed data are completely different from the way it's processed here. I had to write an XML parser from scratch for my project.

[2020-11-21 06:47] titipata commented on #95
@mnis @GanjinZero @sublimotion thanks so much for the report! I haven't checked the script for a bit but would be great to check if the current script is in sync with the current MEDLINE baseline structure.

[2021-01-15 15:02] dsdoermann opened #96 "Question about Original XML"
Does anyone know if there is a parser available that was used to take the original PDF files and convert them to the PubMed Open format?

[2021-01-15 16:41] titipata commented on #96
Hi @dsdoermann, there are no available PDF to original PubMed XML format as far as I know today. Unless you want to analyze only open access articles, you can download the bulk XML for the OA subsets.

For PDF articles, a tool such as GROBID can take the scientific PDF and return it in XML format. For Python wrapper for GROBID, I wrote a script here: https://github.com/titipata/scipdf_parser but n

[2021-01-15 16:47] dsdoermann commented on #96
Thank you.  Do you think they created all the XML by hand for OpenAccess?  Im interested in just having something (since you already have the XML  parser!!! And Thank You!) where I can segment the PDF, get the figures, etc.

---------------------------
David Doermann
Professor, SUNY Empire Innovation
Professor, Department of Computer Science and Engineering
University at Buffalo

doermann@buffalo.

[2021-01-15 17:07] titipata commented on #96
I'm not sure how open access XML is generated. But for OA subsets, you can directly download the figures corpus. I think I do have some documentation how to download the figures corpus for OA subsets somewhere on the repo, I can link to it soon! Here, you can extract data such as captions directly from the original XML file and link to the figures.

For PDF, I wrote a Python wrapper for pdffigure2

[2021-03-07 21:57] krishxmatta opened #97 "Extracting sections at a time rather than paragraphs"
Hey! Thank you for the project. Is there any way I can extract an entire section (e.g. the entire Introduction section) rather than paragraph by paragraph (which may include "subsections")?

[2021-03-08 13:55] titipata commented on #97
Hi @krishxmatta thanks so much for your issue. Yes, this is definitely possible. After you parse the PubMed OA dataset, you can group the output list by `section` from the output you got. I'd try something as follows:

[code]

But you might have to see that the value in the key `section` is consistent or not from the parser.

[2021-03-09 01:40] #97 closed

[2021-06-14 18:04] raypereda-gr commented on #95
I ran into the same issue as @sublimotion and @GanjinZero when running `parse_pubmed_xml` on an article downloaded last week, `pubmed21n1298.xml`.

[code]

I can confirm `parse_medline_xml()` parses without errors and returns useful output. I believe the current script is in sync with the current MEDLINE baseline structure. I hope this helps @titipata.

[code]

[2021-06-14 21:50] titipata commented on #95
Thanks @raypereda-gr! Is that possible to make the PR with the same file with a new structure of MEDLINE database? I can also take look into it further and change the test file accordingly.

[2021-07-16 12:56] FrancescoCasalegno opened #101 "Upload package on PyPI"
Hi, and thanks for this very nice package!

I would like to use your package for a project. However, if the package is not on `PyPI`, I cannot declare it as a dependency of my own package.

I see that you have done more than a release on GitHub, so uploading on PyPI should be easy.

Could you please do that? Thank you in advance!

[2021-07-16 13:22] titipata commented on #101
Hi @FrancescoCasalegno,

Yes, I just uploaded Pubmed parser version 0.3.0 on PyPI here https://pypi.org/project/pubmed-parser/. Can you try installing the package using `pip install pubmed-parser` to see if it works for you? If it works, I can add the instruction on  `README.md`

Cheers,
Titipat A.

[2021-07-16 13:33] FrancescoCasalegno commented on #101
It works perfectly, thanks!

[2021-07-16 13:36] titipata commented on #101
@FrancescoCasalegno Awesome! I will close this issue for now since I updated README. Let me know if something crashes, I can reopen this issue!

[2021-07-16 13:36] #101 closed

[2021-10-10 10:05] charliejeynes opened #103 "Example of processing in dask rather than pyspark"
Your documentation suggests you have tried using dask rather than pyspark to process pubmed/Medline. If you have any examples or tips it would be great if you would share - I'm going to attempt this myself but would be good to get some tips if you have already tried. I'm not keen on pyspark but like dask from what I've seen . Thanks

[2021-11-15 09:36] TiansuYu opened #104 "medline_parser has syntax error: `"is not" with a literal`"
The bug is as follows: (Should I open a PR for this?)
**Describe the bug**
[code]

**To Reproduce**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Dependencies**
Debian Docker image + `pubmed_parser=0.3.0`

**Additional context**
Add any other context about the problem her

[2021-11-15 09:43] titipata commented on #104
@TiansuYu definitely, please open the PR to fix the issue! Thanks a ton.

[2021-11-15 10:49] #104 closed

[2021-12-14 08:30] jtourille opened #107 "Is there a reason why PubMed/MEDLINE extracted list elements are joined with ";" instead of keeping them as lists ?"
First, thank you for your tool, it is very very useful.

I was wondering why there is a difference in the processing of list elements according to the parser used.
For instance:
- `parse_pubmed_xml` returns list of strings (e.g. for `author_list` and `affiliation_list`)
- `parse_medline_xml` returns concatenated lists for every list element.

Wouldn't it be more convenient to have a consistent way

[2021-12-14 09:12] titipata commented on #107
Hi @jtourille, thanks for the feedback. Yes, I totally agree!

I actually have an input `author_list` parameter [here](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/medline_parser.py#L616) and [here](https://github.com/titipata/pubmed_parser/blob/master/pubmed_parser/medline_parser.py#L616) to parse authors as a list output instead of a concatenated string. This may not be th

[2021-12-26 12:58] MattYoon opened #109 "All of PubMed XML was updated to follow the MEDLINE XML format."
**Describe the bug**
It seems like now every file from the PubMed XML follows the MEDLINE XML format.
Therefore, running `pp.parse_pubmed_xml()` on any file will always result to the issue described in #95.
I was able to overcome this issue by using `pp.parse_medline_xml()` instead.

I think some refactoring and document update should be done.

[2022-01-04 21:43] ghost opened #110 "PMC OA: tags in the <journal-title> field break parse_pubmed_xml"
**Describe the bug**
Tags in the `<journal-title>` value cause:
[code]
In the case of https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pmc&id=7147450, changing
[code]

to
[code]
fixes it.

**To Reproduce**
[code]

[xmls.zip](https://github.com/titipata/pubmed_parser/files/7810547/xmls.zip)

[2022-01-05 09:12] titipata commented on #110
@aren-lorenson-enveda thanks for your issue. I guess a quick fix is to change to the following:

[code]

However, I will check if it works properly later on (or if you try and it works, feel free to make a pull request)!

[2022-01-07 07:52] zhao-zy15 opened #111 "parse_pubmed_paragraph() function seems to miss some paragraphs sometimes."
**Describe the bug**
I was preparing for a dataset requiring paragraph-level parsing of PMC_OA articles. However, when I try to parse this article with PMC id [PMC8075838](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8075838/), there are actually 12 paragraphs in the article but parse_pubmed_paragraph() function returns only 7 paragraphs. Any ideas why? (I have checked the original xml file on my

[2022-01-12 22:15] ghost opened #112 "physical & electronic publication dates can be mixed into erroneous dates"
**Describe the bug**
consider [PMC 1280406](https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pmc&id=%271280406%27):
Published online: 2005 May 31
Published in journal: 2005 Sep

valid dates would be '2005-09' or '2005-05-31', but `pp.parse_pubmed_xml` yields '2005-09-31'

The culprit is [here](https://github.com/titipata/pubmed_parser/blob/e443d6a2f8ad754c708e6b3cd9e7535918443758/pubme

[2022-01-13 13:41] titipata commented on #112
@aren-lorenson-enveda, thanks for the issue. Yes, it seems like [here](https://github.com/titipata/pubmed_parser/blob/e443d6a2f8ad754c708e6b3cd9e7535918443758/pubmed_parser/utils.py#L120-L144) is an issue. I won't have much time to fix this issue this month. Hopefully, if someone sees this issue, they can make PR to fix this!

[2022-03-11 13:05] srishti-git1110 opened #113 "Error: parse_medline_xml() is unable to parse the file even though the provided path is correct"
Hi, I'm using parse_medline_xml() to parse an xml file; I'm not sure where the error stems from.
I read a discussion on a similar issue that was raised in the past & cross checked if the file path I'm providing is right & it seems right.
Is there any other reason because of which the following error could occur-

Edit : I tried parsing a 2017 file using the exact same code & it worked fine. A simi

[2022-03-13 02:59] srishti-git1110 commented on #113
Is it because my file is .xml.gz instead of .xml?

[2022-03-13 05:32] titipata commented on #113
Yes, it seems like the file that you're putting in is not parsable by lxml.

[2022-03-13 05:41] srishti-git1110 commented on #113
Thanks for taking time to answer.
So, you are saying the parser won't work for files from the year 2022? Or is there any other issue apart from the date of file?
Because it is working just fine for a 2017 file (downloaded from the exact same source) with the same extension .xml.gz

If year is the only issue, then do you have any idea till which year/date the parser shall work?

[2022-03-13 05:44] titipata commented on #113
Oh, if it works until 2017. It might be the problem with the file format. I don't have much time to check the format but there might be an issue there!

[2022-03-13 15:16] raypereda-gr commented on #113
In the last year, I have used parse_medline_xml() on all of the PubMed XML files without error. In general, I use the xml.gz file format but I have tested the .xml file too. I recommend stepping through the code while parsing that file in a debugger and isolating the error.

[2022-03-15 04:55] srishti-git1110 commented on #113
Thanks @raypereda-gr.
Yes, I'm also using it with a **.xml.gz** file. It's a 2022 [file](https://drive.google.com/file/d/17hnX6SJtx9LkIVHVBVArkPU1uMHQ1Onh/view?usp=sharing).

I tried debugging - However, I'm unable to figure out the error. Can you please help?

_> c:\users\hp\anaconda3\envs\test\lib\tokenize.py(335)find_cookie()
    333             if filename is not None:
    334

[2022-03-15 11:38] srishti-git1110 commented on #113
@raypereda-gr can you also please let me know the source and code you are downloading the files from?

here is my code - I'm afraid if incorrect files are getting downloaded on my end hence causing errors.

_**save_loc = 'Desktop/scratch/'
def download_ftp_files(link, save_loc, verbose=True):
    """ Downloads all ftp files from the supplied link """

    make_dir(save_loc)
    process = Popen(['w

[2022-03-15 14:48] raypereda-gr commented on #113
I will look into it further in a couple days. In the meantime, you can help me with two things. First, trim down the file to creating the smallest file that gives the same error. You will need to work with XML, not the zipped file. Second, try downloading the file in various ways. Try manual downloads too. See if the file changes with different ways of downloading.

[2022-03-15 16:14] titipata commented on #113
Thank you so much @raypereda-gr for helping out!

[2022-03-19 12:23] srishti-git1110 commented on #113
@raypereda-gr Thanks very much for considering to help.

As you asked to work with the .xml and not .xml.gz (zipped) file, is it required for trimming the file down or to parse it? Asking because I was able to parse a .xml.gz [file](https://github.com/titipata/pubmed_parser/files/809916/medline17n0116.xml.gz) using parse_medline_xml().

To download manually as you suggested, I tried to navigate to

[2022-03-20 00:00] raypereda-gr commented on #113
That is the same function that I use:
[code]
That function will accept a .xml or .xml.gz file. You don't need to worry about unzipping explicity; the function with handle that if needed.

Since you have been able to to parse the .xml.gz file, we can be confident that the problem is with the .xml file. How exactly did you unzip it? Here's ls output of the the unzipped file that I created by unzippi

[2022-03-20 03:38] srishti-git1110 commented on #113
Thanks @raypereda-gr !

Yes, I was working with the zipped file only (.xml.gz) ; it still wasn't working.

I made a small change by just adding the keyword arg path while calling the function like so -
`pp.parse_medline_xml(path = pubmed_xml_filepath)`

instead of positional calling like -
`pp.parse_medline_xml(pubmed_xml_filepath)`

and it worked this way. Anyway, thanks a lot for helping patient

[2022-03-20 03:38] #113 closed

[2022-05-26 10:20] JIBINJOHNV opened #115 "AttributeError: 'NoneType' object has no attribute 'find'"
I was using paragraph-level parsing. Unfortunately, it was showing some errors. Could you please look into it.

[code]

[2022-05-26 12:03] #115 closed

[2022-05-26 12:04] titipata commented on #115
Hi @JIBINJOHNV I made a PR in #116 and merge it. Let me know if it fixes your issue. If not, I can reopen this issue.

[2022-05-28 05:58] JIBINJOHNV commented on #115
Now it is working fine and thank you for fixing the issue.

[2022-07-17 01:40] octotus opened #118 "Table parsing issues with parse_pubmed_table"
Using parse_pubmed_table with PMC535341.xml and PMC535340.xml (as test papers). In both cases, parse_pubmed_table is not retrieving table info. Other modules like parse_captions / paragraphs work fine.

Any hints at what am doing wrong will be helpful. Thanks.

[2022-07-17 19:47] raypereda-gr commented on #118
I suggest posting code on the pull request. Clearly explain what you expected, or wanted, with a test case.

Additional nodes can be added to the parser.

[2022-07-17 20:46] octotus opened #119 "Bug report"
**Describe the bug**
Please describe the unexpected outcome from Pubmed Parser here

I am using pubmed parser to extract table information from xml files. The tests were performed with two papers: PMCID 535340, and 535341. Both papers have tables; PMC535340 has figures too. My attempts at extracting tables is unsuccessful.

**To Reproduce**
[code]
**Expected behavior**
A clear and concise descript